
$primary-color: #3498db;
$margin-size: 10px;

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  form {
    display: flex;
    flex-direction: column;

    label, input {
      margin-bottom: $margin-size;
    }

    button {
      margin-top: $margin-size;
      background-color: $primary-color;
      border: none;
      color: white;
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}
